* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1 {
    font-size: 1.75em;
}
section {
    background-color: #999999;
    border: 1px solid #000000;
    margin: 0 0 25px 0;
    padding: 0;
}
h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}
section p {
    padding: 0 6px 4px 6px;
}